<div class="container">
    <div class="row justify-content-center">
        <form [formGroup]="contactForm" (ngSubmit)=submit() class="col-3">
            <div >
                
                <mat-form-field>
                    <mat-label>Id</mat-label>
                    <input matInput type="text" formControlName="id" readonly="true">
                </mat-form-field> 
                <mat-form-field >
                    <mat-label>First name</mat-label>
                    <input matInput type="text" formControlName="firstName">
                </mat-form-field> 
                <mat-form-field >
                    <mat-label>Last name</mat-label>
                    <input matInput type="text" formControlName="lastName">
                </mat-form-field> 
                <mat-form-field >
                    <mat-label>Monthly pay</mat-label>
                    <input matInput type="text" formControlName="monthlyPay">
                </mat-form-field> 
                <button type="submit" class="btn btn-danger"><a routerLink="/table">Back</a></button>
                <button type="submit" class="btn btn-success"><a routerLink="/table">Save</a></button>
            </div>
        </form>
    </div>
</div>